:root {
    --bg-color: #fdf5e6;
    --main-color: #7f2b0a
  }
  body {
    background-color : var(--bg-color);
    color: var(--main-color);
}

svg {
    stroke: var(--main-color);
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: var(--main-color);
    border: none;
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

input {
    border-radius: 8px;
}

#newWord {
    margin: 5px;
}

#home {
    width: 250px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#result, #dict-view {
    width: 500px;
    height: 50%;
    text-align: left;
}

#options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

#notes {
    flex: 1;
    margin: 5px;
}

select {
    margin: 5px;
    border-radius: 8px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid var(--main-color);
    text-align: left;
    padding: 8px;
  }